body {
    background-image: urL('../images/bg2.png') ;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.button-group {
    display: block;
    margin-left: 1204px;
    margin-top: -300px;
}


.btn-org {
    width: 251px;
    height: 48px;
    background: #ff7f17;
    border: 0;
    border-radius: 50px;
    margin-top: 46px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.btn-help {
    margin-left: 1614px;
    margin-top: 300px;
}

body {
    width: 100%;
    height: 100%;
}

section.home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.video {
    margin: 0;
    position: absolute;
    top: 36.9%;
    left: 42.2%;
}

.button-group {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 10%;
}

html {
    width: 100%;
    height: 100%;
}


button.btn-org.btn-help {
    margin: 0;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

@media screen and (max-width: 1024x) {
    .video {
            padding-right: 0;
                position: absolute;
                top: 50%;
                left: 20%;
        }
}

@media screen and (max-width: 768px) {
        section.home {
        }



        .button-group {
            display:flex;
            flex-wrap:wrap;
        }
    }


button.btn-org {
    flex-basis: 100%;
    flex-basis: auto;
}

a {
    margin: 0 50%;
    flex-basis: auto;
}