body {
    background-image: url('../images/bg1.png');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1, h2, h3, h4, h5, p, label {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.form-login {
    width: 792px;
    height: 420px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 20px;
    margin-top: 330px;
    margin-left: 357px;
    background-repeat: no-repeat;
}

.form-content {
    text-align: center;
}

.form-login h2 {
    font-weight: 500;
    font-size: 22px;
    padding-top: 24px;
}

.form-input {
    border: 3px solid #ff7f17;
    width: 492px;
    height: 65px;
    border-radius: 50px;
    background-color: rgba(0,0,0,0.0);
    text-align: center;
}

.form-input.first {
    margin-top: 15px;
}

.form-input.second {
    margin-top: 51px;
}

input[type="text"] {
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 500;
}

input[type="text"]::-moz-placeholder {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 22px;
}
input[type="text"]::-webkit-input-placeholder { color: #fff; font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 22px; }
input[type="text"]:-ms-input-placeholder { color: #fff;font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 22px; }
input[type="text"]::-ms-input-placeholder { color:#fff;font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 22px; }
input[type="text"]::placeholder { color: #fff;font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 22px; }

.form-btn {
    width: 304px;
    height: 57px;
    background: #ff7f17;
    border: 0;
    border-radius: 50px;
    margin-top: 46px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.form-login {
    width: 100%;
    margin: auto 20%;
}

@media screen and (max-width: 768px) {
        .form-login { margin: auto 5%;}
    }

section.login {
    width: 100%;
    height: 100%;
    display: flex;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

input.form-input.first {
    flex-basis: 100%;
    margin: 20px 30% 0;
}

input.form-input.second {
    flex-basis: 100%;
    margin: 20px 30% 0;
}

button.form-btn {
    flex-basis: 100%;
    margin: 20px 30% 0;
}
